body{
        color:white;
        background-color: black;
        font-family:Calibri;
       /* width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x: hidden;*/
    }

    .Grid
    {
        width: fit-content;
        display:grid;
        grid-template-columns: auto auto auto;
       margin-left: 470px;
        margin-top: -180px;
    gap: 20px;
    padding: 10px;
        /*padding: 10px;
        column-gap: -50px;
            row-gap: 3px;
                
            */
    }

.red_shape{
background-color: red;
width: 200px;
height: 200px;
border-radius: 50%;


}

.green_shape{
    background-color: green;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    }

    .blue_shape{
        background-color: blue;
        width: 200px;
        height: 200px;
        border-radius: 50%;


    }

    .yellow_shape{
        background-color: mediumvioletred;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .orange_shape{
        background-color: orange;
        width: 200px;
        height: 200px;
        border-radius: 50%;

    }

    .purple_shape{
        background-color: purple;
        width: 200px;
        height: 200px;
        border-radius: 50%;

    }

.button1{
    width: 150px;
    height: 50px;
    border-radius: 10%;
    position: relative;
    left: 50px;
    top: -200px;
}

.button2{
    width: 150px;
    height: 50px;
    border-radius: 10%;
    position: relative;
    left: 50px;
    top: -200px;
}
.button3{
    width: 150px;
    height: 50px;
    border-radius: 10%;
    position: relative;
    left: -100px;
    top: -100px;
}

.button4{
    width: 150px;
    height: 50px;
    border-radius: 10%;
    position: relative;
    left: 50px;
    top: -200px;
}


/*
@media screen and (min-width: 1200px) and (max-width: 1600px) 
{
html,body
 {
    background-color: navy;
    width:100%;
    height:100%;
 }
}*/
